<div class="container justify-content-center text-center">
  <img class="mb-4 mt-4" src="../images/furbnb-logo.png" alt="" width="150" />
  <h2><b>Sign Up</b></h2>
  <br />
  <form action="/auth/signup" method="POST">

    <div class="mb-3">
      <label class="form-label">
        Username
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="Dog_lover"
        />
      </label>
    </div>

    <div class="mb-3">
      <label class="form-label">
        Email
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="doglover@4eva.com"
        />
      </label>
    </div>

    <div class="mb-3">
      <label class="form-label">
        Password
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="8 characters long"
        />
      </label>
    </div>

    <button type="submit">Create account</button>

    {{#if errorMessage}}
      <div class="alert alert-warning" role="alert">
        {{errorMessage}}
      </div>
    {{/if}}
  </form>

</div>