<div class="container fluid text-center" id="landing-main">
  <h1 id="landing-title"><b>Welcome to FurB&B</b></h1>
  <h2>Your pet neeeds a nice vacation <strong>fur-a-change!</strong></h2>
  <h3>Send your pet to a nice place or host your own!</h3>
  <button type="button" class="btn btn-primary btn-lg"><a href="/locations">Browse our Locations</a></button>
  {{!-- <img src="./images/dog-in-the-beach.jpg" alt="index-image"> --}}
</div>

</div>