<div class="container justify-content-center align-items-center text-center">

  <br />

  <h1 class="fw-bold">Add a pet</h1>

  <form action="/profile/add-pet" method="post">

    <div class="mb-3">
      <label class="form-label" for="name">
        Name
        <input class="form-control" type="text" name="name" placeholder="Rex" />
      </label>
    </div>

    <div class="mb-3">
      <label class="form-label" for="picture">
        Picture
        <input
          class="form-control"
          type="text"
          name="picture"
          placeholder="img-url"
        />
      </label>
    </div>

    <div class="mb-3">
      <label class="form-label" for="breed">
        Breed
        <input
          class="form-control"
          type="text"
          name="breed"
          placeholder="Pug"
        />
      </label>
    </div>

    <div class="mb-3">
      <label class="form-label" for="aboutMe">About Me</label>
      <textarea class="form-control" name="aboutMe" id="aboutMe" maxlength="200"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Add your pet</button>

  </form>

  {{#if errorMessage}}
    <div class="alert alert-warning" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

  <hr />

  <a class="button" href="/profile#pets">Back to your pets</a>

</div>