<div class="container text-center">
  <br>
<h1 class="fw-bold">Leave a review</h1>



{{#with location}}
  <form action="/locations/{{id}}/create-review" method="post">
{{/with}}
    {{! <label for="reservation">Reservation</label>
    <select name="reservation" id="reservation" multiple>
      <option value=""></option>
    </select> }}
    <label class="form-label" for="dogs">Guest Dog(s):</label>
    <select class="form-control" name="dogs" id="dogs" multiple>
    {{#each userPets}}
        <option value="{{_id}}">{{name}}</option>
    {{/each}}
    </select>

    <br>

    <label class="form-label" for="rating">Rating:</label>
    <input class="form-control" type="number" name="rating" id="rating" min="0" max="5"/>

    <br>

    <label class="form-label" for="comment">Comment(s)</label>
    <textarea class="form-control" name="comment" id="comment" maxlength="200"></textarea>
    
    <br>

    <button type="submit">Submit</button>

    <br>
  </form>
  
{{#with location}}
  <a class="button" href="/locations/{{id}}">Back to location</a>
{{/with}}

</div>